* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* utilities */

img {
    width: 40px;
    margin-left: 5px;
}

.view-none {
    display: none;
    transition: all ease-out 500ms;
}

.btn-reset {
    width: 100px;
    padding: 10px;
    background-color: indigo;
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    text-decoration: none;
    margin-bottom: 30px;
    
    border: 2px solid indigo;
}

.btn-reset:hover {
    background-color: white;
    color: indigo;
}

.btn-reset:active {
    background-color: rgba(75, 0, 130, 0.1);
}

/* start styling */
.title {
    text-align: center;
    font-size: 42px;
    margin-top: 10px;

}

.intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 30px 0;
}

.intro .players, .intro .coins {
    display: flex;
    gap: 80px;
}

.intro .coins > img {
    margin: 0 10px;
}

.scores p {
    margin: 0 25px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-auto-rows: 50px;
    gap: 5px;
    background-color: black;
    width: fit-content;
    margin: 30px auto;
}

.box {
    background-color: white;
    cursor: pointer;
    width: 50px;
    
}

.winner {
    text-align: center;
}